.page-content {
  background-color: #eee;
}

.face {
  border-radius: 90px;
  border: 1px solid #ddd;
  width: 90px;
  margin: 16px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  -o-transition: all linear 300ms;
  transition: all linear 300ms;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  // max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  overflow: hidden;
  // max-height:40px;
}

.animate-show {
  // height: 180px;
  opacity: 1;
  overflow: hidden;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  -o-transition: all linear 300ms;
  transition: all linear 300ms;
  transition: all linear 300ms;
}

.animate-show.ng-hide {
  height: 0;
  opacity: 0;
}
