<header>
  <acme-navbar>
    <h2 flex>Dialoga > Propostas</h2>
  </acme-navbar>
</header>

<div class="layout page-content" layout="row" layout-align="center center">
  <div flex flex-gt-md="66">
    <task></task>
    <div flex ng-repeat="proposta in task.propostas | onlyUnverified" class="animate-repeat">
      <task task="proposta"></task>
    </div>
  </div>
</div>
