<header>
  <acme-navbar>Dialoga > Login</acme-navbar>
</header>

<div layout="row" layout-align="center center">
  <div flex flex-gt-md="33">
    <md-card class="login-panel">
      <md-card-content>

        <div ng-if="isAuthenticated()">
          <p ng-if="currentUser">
            <b>{{ currentUser.person.name }}</b><span ng-if="isAuthorized(currentUser.userRoles)">, você é admin.</span>
          </p>
          <md-button type="button" ng-click="auth.logout()" class="md-raised md-warn">Sair</md-button>
        </div>

        <div ng-if="!isAuthenticated()">
          <h1 class="md-display-1">Acesso ao sistema</h1>
          <!-- <p class="md-subhead">O conteúdo desta área está disponível apenas para os usuários cadastrados.</p> -->

          <form name="loginForm" ng-submit="auth.login(auth.credentials)">
            <md-input-container class="md-icon-float">
              <label for="username">Nome de usuário / E-mail</label>
              <md-icon md-svg-icon="/assets/images/icons/account-circle-white.svg" class="md-icon"></md-icon>
              <input id="username" name="username" ng-model="auth.credentials.username" required="" type="text">
              <div class="ng-messages" ng-show="loginForm.$submitted || loginForm.username.$touched" ng-messages="loginForm.username.$error" role="alert">
                <div ng-message="required">Campo obrigatório.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-icon-float">
              <label for="password">Senha</label>
              <md-icon md-svg-icon="/assets/images/icons/lock-white.svg" class="md-icon"></md-icon>
              <input id="password" name="password" ng-model="auth.credentials.password" required type="password">
              <div class="ng-messages" ng-show="loginForm.$submitted || loginForm.password.$touched" ng-messages="loginForm.password.$error" role="alert">
                <div ng-message="required">Campo obrigatório.</div>
              </div>
            </md-input-container>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button type="submit" class="md-raised md-primary">Enviar</md-button>
            </div>
          </form>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
