<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar>
    <!-- <img src="http://gestao.dialoga.gov.br/assets/designs/themes/dialoga/images/logo.png" alt="Logo do projeto Dialoga"> -->
    <h1 class="md-toolbar-tools">Dialoga</h1>
  </md-toolbar>
  <md-content>
    <ul class="navbar__list">
      <li class="navbar__item">
        <md-button ui-sref="home">Home</md-button>
      </li>
      <li class="navbar__item">
        <md-button ui-sref="login">Login</md-button>
      </li>
      <li class="navbar__item" ng-if="isAuthenticated()">
        <md-button ui-sref="task">Propostas</md-button>
      </li>
    </ul>
  </md-content>
</md-sidenav>
<md-toolbar layout="row" layout-align="center center">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu principal" ng-click="vm.toggleNav()">
      <md-icon md-svg-icon="assets/images/icons/menu.svg"></md-icon>
    </md-button>
		<div layout="row" layout-align="space-between center" flex ng-transclude></div>
	</div>
</md-toolbar>
