<md-card class="task-card">

  <div ng-if="vm.task.isLoading" class="task-card__loading is-loading"></div>
  <md-card-content class="md-card-content">
    <md-list>
      <md-list-item class="md-3-line">
        <img ng-src="/assets/images/angular.png" class="md-avatar" alt="{{vm.task.author}}" />
        <div class="md-list-item-text">
          <h3 class="proposal__author_name"><b>{{ vm.task.setting.author_name || "nome-do-autor" }}</b> propôs:</h3>
          <p class="proposal__abstract">{{ vm.task.abstract }}</p>
        </div>
      </md-list-item>
    </md-list>
    <div layout="row" layout-align="start center">

      <div ng-if="vm.task.evaluation">
        <md-icon ng-if="vm.task.evaluation === 'accept'" md-svg-src="/assets/images/icons/checkbox-marked.svg"></md-icon>
        <md-icon ng-if="vm.task.evaluation === 'refuse'" md-svg-src="/assets/images/icons/close-box.svg"></md-icon>
      </div>

      <div ng-if="vm.task.evaluation == null">
        <md-button class="md-raised md-primary" ng-click="vm.task.evaluation = 'accept'">Aceitar</md-button>
        <md-button class="md-raised md-warn" ng-click="vm.task.evaluation = 'refuse'">Rejeitar</md-button>
      </div>

      <md-button ng-if="vm.task.evaluation === 'refuse' && vm.task.reason == null" class="md-raised" ng-click="vm.task.evaluation = null; vm.task.reason = null;">Voltar</md-button>
      <md-select style="margin-left: 10px;" class="md-select" ng-if="vm.task.evaluation === 'refuse'" ng-model="vm.task.reason" placeholder="Motivo">
        <md-option ng-repeat="option in vm.refuseOptions" value="{{option.value}}">{{option.label}}</md-option>
      </md-select>

      <div ng-if="vm.task.evaluation == 'accept' || vm.task.reason != null">
        <md-button class="md-raised" ng-click="vm.task.evaluation = null; vm.task.reason = null;">Voltar</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save(vm.task)" title="Enviar para validação">Enviar</md-button>
      </div>
    </div>

    <div class="actions">
      <md-button class="actions__toggle md-fab md-primary md-mini" aria-label="Mostrar ações" ng-click="checked = !checked">
        <md-icon md-svg-src="/assets/images/icons/plus.svg"></md-icon>
      </md-button>
      <div class="actions__details animate-show" ng-show="checked">
        <md-divider></md-divider>

        <label for="details">Detalhes:</label>
        <div layout="row" layout-align="start center">
          <textarea flex name="details" id="proposal-{{vm.task.id}}-details" class="proposal__details" cols="30" rows="10" value="{{vm.task.details}}"></textarea>
        </div>

        <div layout="row" layout-align="start center">
          <label for="tags">Tags:</label>
          <md-chips
            ng-model="vm.task.tag_list"
            readonly="vm.task.tagListReadOnly"
            placeholder="Add tag"
            delete-button-label="Remove Tag"
            delete-hint="Pressione 'delete' para remover uma tag"
            secondary-placeholder="+Tag"
            class="proposal__tag-list"
            ></md-chips>
        </div>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click="vm.publish(vm.task)" ng-hide="vm.task.published" class="md-raised md-primary" title="Envia esta proposta para área pública">Publicar</md-button>
          <md-button ng-click="vm.unpublish(vm.task)" ng-show="vm.task.published" class="md-raised md-warn" title="Remove esta proposta da área pública">Remover Publicação</md-button>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
